@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">

    <h2>@ViewBag.Message</h2>

    <address>
        Flourishing, Gonzaga, Cagayan<br />
        Cagayan Valley, Philippines<br />
        <abbr title="Phone"></abbr>
        +639278598299
    </address>

    <address>
        <strong>Let's connect: </strong><a href="mailto:saplajeff16@gmail.com">saplajeff16@gmail.com</a><br />
    </address>
</main>