@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row mb-3 mt-3 text-center" aria-labelledby="aspnetTitle">
        <h1 id="title" class="fw-bolder">Project Management System</h1>
    </section>

    <div class="row mt-3 pt-3">
        <section class="col-lg-12 text-center" aria-labelledby="gettingStartedTitle">
            @Html.ActionLink("Getting Started", "../Project","", new { @class = "btn btn-outline-primary" })
        </section>
      
    </div>
</main>